/**
 * Website block view styles
 *
 * @since  TBD
 */

.tribe-block__event-website {
	padding: 4% 20px;
	align-items: center;
	border: 1px solid #E1E3E6;
	display: inline-flex;
	font-family: 'Helvetica', 'sans-serif';
	justify-content: center;
	min-height: 54px;
	padding: 0 20px;
	font-size: 1.125rem;
	background-color: #009FD4;
	max-width: 100%;
	color: #fff;

	&,
	&:hover {
		color: #fff;
	}

}