/**
 * Website block view styles
 *
 * @since  TBD
 */

.tribe-block__event-website {
	a {
		padding: 4% 20px;
		align-items: center;
		display: inline-flex;
		justify-content: center;
		min-height: 54px;
		padding: 0 20px;
		font-size: 1.125rem;
		max-width: 100%;

		&.bordered {
			border: 1px solid #e1e3e6;
		}

		&.blue {
			background-color: #009fd4;
			color: #fff;
		}

		&:hover {
			color: #fff;
		}
	}
}