.tribe-editor__additional-fields__divider-settings {
	.components-base-control__field {
		display: flex;
		align-items: center;
	}

	.components-base-control__label {
		flex: auto;
		margin-bottom: 0;
	}

	.components-text-control__input {
		flex: none;
		width: 52px;
	}
}
