.tribe-editor__container-panel__content {
	.tribe-editor__container-panel__row {
		svg {
			path {
				fill: #ABB2B9;
			}
		}
	}

	.tribe-editor__label-with-tooltip {
		svg {
			margin-left: 10px;
		}
	}
}

.tribe-editor__container-panel__row {
	display: flex;
	justify-content: space-between;
}

.tribe-editor__container-panel__label {
	flex: none;
	width: 31%;
	align-self: flex-start;
}

.tribe-editor__container-panel__input-group {
	flex: 1;

	select {
		width: 100%;
		margin-bottom: 10px;
	}
}
