.tribe-editor__rsvp__attendee-registration {
	margin-top: 30px;
}

.tribe-editor__label-with-modal .tribe-editor__labeled-item__label {

	.tribe-editor__rsvp-container--disabled & {
		color: #AEB4BB;
	}
}

.tribe-editor__rsvp__attendee-registration-modal {
	width: 100%;

	.components-modal__content {
		display: flex;
	}
}

.tribe-editor__rsvp__attendee-registration-iframe {
	flex: none;
	width: 100%;
}
