.tribe-editor__availability {
	text-align: right;
	font-size: 0.9375rem;
	padding: 16px 0;

	.tribe-editor__label--numeric {
		color: #545D66;
		font-family: Helvetica, sans-serif, arial;
	}

	.tribe-editor__label--count {
		font-weight: bold;
	}
}

.tribe-editor__availability--separator {
	padding-left: 15px;
	padding-right: 15px;
	color: #545D66;
	font-family: Helvetica, sans-serif, arial;
}
