.tribe-editor__tickets-btn--action {
	display: flex;
	align-items: center;
	font-size: 0.9375rem;
	font-family: Helvetica, sans-serif, arial;
	color: #545D66;

	svg {
		margin-right: 6px;
		fill: #545D66;

		path {
			fill: #545D66;
		}
	}
}
