.tribe-editor__tickets-btn--action {
	display: flex;
	align-items: center;
	font-size: 0.9375rem;
	font-family: Helvetica, sans-serif, arial;
	color: #545D66;

	svg {
		fill: #545D66;

		path {
			fill: #545D66;
		}
	}
}

.tribe-editor__tickets-btn--action-right {
	svg {
		margin-left: 6px;
		order: 2;
	}
}

.tribe-editor__tickets-btn--action-left {
	svg {
		margin-right: 6px;
	}
}
