.tribe-editor__event-tags {

	.tribe-detail-label {
		display: block;
	}

	ul {
		list-style: none;
	}

	li {
		display: inline-block;
		margin-right: 4px;
	}

	.spinner {
		display: block;
		float: none;
	}

	.tribe-is-empty {
		color: #8D949B;
	}
}