.tribe-editor__checkbox {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: transparent;
	border: none;

	label {
		font-family: 'Helvetica', 'sans-serif';
		color: #545D66;
		margin-right: 14px;
	}

	input[type="checkbox"] {
		display: none;
	}

	svg {
		pointer-events: none;
	}
}
