.tribe-element-map-container {
	height: 353px;
	padding: 5px;
	margin: 0;
	background: #eee;
	border: 1px solid #ddd;
	border-radius: 3px;
	vertical-align: top;
	zoom: 1;

	.tribe-element-map-object {
		height: 100%;
	}
}
