.tribe-editor__events-pro__remove-field {
	background: transparent;
	border: 0;
	cursor: pointer;
	outline: none;
	position: absolute;
	right: 20px;
	top: 20px;

	& svg {
		height: 15px;
		width: 11px;
	}
}
