.tribe-editor__label-with-tooltip {
	display: flex;
	align-items: center;
}

.tribe-editor__label-with-tooltip__label {
	flex: none;
}

.tribe-editor__label-with-tooltip__tooltip-label {
	flex: none;
	background-color: transparent;
	border: none;
	padding: 0;
	display: inline-flex;
	align-items: center;

	& > * {
		flex: none;
	}
}
