.tribe-editor__series-ends__content {
	display: flex;
	align-items: center;

	& > span {
		font-size: 16px;
		line-height: 24px;
		color: #8D949B;
	}

	& > * {
		margin-right: 15px;

		&:last-child {
			margin-right: 0;
		}
	}
}

.tribe-editor__series-ends__select {
	flex: none;
	width: 150px;
}

.tribe-editor__series-ends__number-input {
	flex: none;
	width: 85px;
}

.tribe-editor__day-picker-input {

	.tribe-editor__series-ends & {
		flex: none;
		width: 195px;
	}
}
