.tribe-editor__series-ends__select {
	width: 150px;
}

.tribe-editor__series-ends__number-input {
	width: 85px;
}

.tribe-editor__day-picker-input {

	.tribe-editor__series-ends & {
		width: 195px;
	}
}
