.tribe-editor-events-subtitle__separator {
    color: #B9BEC2;
    font-size: 15px;
    font-weight: 500;
    margin-left: 5px;
}

.tribe-element-timezone-picker-label button.button-link {
    color: #B9BEC2;
    font-size: 15px;
    font-weight: 500;
    margin-left: 5px;
    text-transform: uppercase;
}