.tribe-editor__tickets-attendee {
	display: flex;
	justify-content: space-between;
	background-color: #FFF;
	border: 1px solid #E1E3E6;
	border-radius: 4px;
	padding: 10px 15px;
	margin: 15px 0;

	span {
		flex: 1;
		color: #545D66;
		font-family: Helvetica, sans-serif, arial;
		font-size: 0.9375rem;
	}

	button {
		flex: none;
		color: #009FD4;

		&:hover {
			color: #027BB4;
		}
	}
}
