.tribe-events-pro__label {
	align-items: center;
	color: #8d949b;
	display: flex;
	flex: 0 0 100px;
	font-family: "SF Pro Display", Helvetica;
	font-size: 15px;
	font-weight: 700;
	letter-spacing: 0.38px;

	&__bar {
		background-color: #e1e3e6;
		flex: 1;
		height: 1px;
		margin: 0 10px;
	}
}
