.tribe-editor__events-pro__label {
	align-items: center;
	color: #8d949b;
	display: flex;
	flex: 0 0 125px;
	font-family: "SF Pro Display", Helvetica;
	font-size: 15px;
	font-weight: 700;
	line-height: 18px;
	letter-spacing: 0.38px;

	&:after {
		content: '';
		background-color: #e1e3e6;
		flex: 1;
		height: 1px;
		margin: 0 10px;
	}
}

.tribe-editor__events-pro__label-text {
	flex: none;
}
