.tribe-editor__tickets {
	position: relative;
	font-family: Helvetica, sans-serif, arial;

	.block-list-appender {
		display: none;
	}
}

.tribe-editor__tickets--loading {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 20px;

	.components-spinner {
		flex: none;
	}
}

.tribe-editor__tickets__overlay {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	margin: -14px;
	z-index: 10;
}
